<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>房屋租赁管理系統</title>
    {load href="__CSS__/font.css,__CSS__/main.css,__JS__/jquery-1.9.0.min.js,__LIB__/layui/layui.js,__JS__/admin.js"/}

  </head>
  
  <body>
    <div class="body">
        <form class="layui-form">
            <input type="hidden" name="id" value="{$id}">
          <div class="layui-form-item">
              <label class="layui-form-label">
                  <span class="red">*</span>标题
              </label>
              <div class="layui-input-inline"style="width: 40%">
                  <input type="text" id="title" name="title" required="" lay-verify="title"
                  autocomplete="off" class="layui-input" value="{$house.title}">
              </div>
          </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="red">*</span>地址
                </label>
                <div class="layui-input-inline" style="width: 40%">
                    <input type="text" id="address" name="address" required="" lay-verify="address"
                           autocomplete="off" class="layui-input" value="{$house.address}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="red">*</span>租金
                </label>
                <div class="layui-input-inline"style="width: 40%">
                    <input type="text" id="rent" name="rent" required="" lay-verify="rent"
                           autocomplete="off" class="layui-input" value="{$house.rent}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="red">*</span>主图
                </label>
                <div class="layui-input-inline">
                    <ul>
                        <li><img src="{$house.main_pic}" class="layui-upload-img" id="houseimage" style="width: 300px;height: 200px;margin-bottom: 10px"></li>
                        <li><button type="button" class="layui-btn" id="upload">上传图片</button></li>
                    </ul>
                </div>
            </div>
            <input type="hidden" name="mainpic" id="mainpic" value="{$house.main_pic}" lay-verify="mainpic">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="red">*</span>详情
                </label>
                <div class="layui-input-block" style="width: 60%">
                    <textarea id="detail" name="detail" style="display: none;" required="" lay-verify="detail">{$detail}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="red">*</span>房东
                </label>
                <div class="layui-input-inline"style="width: 40%">
                    <input type="text" id="fangdong" name="fangdong" required=""
                           autocomplete="off" class="layui-input" value="{$customer.truename}" readonly>
                </div>
            </div>
          <div class="layui-form-item" style="margin-left: 100px">
              <div class="layui-btn-group">
                  <button  class="layui-btn" lay-filter="add" lay-submit="">
                      修改
                  </button>
              </div>
          </div>
      </form>
    </div>
    <script>

        layui.use(['form','layer','layedit','upload'], function(){
//            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer
          ,layedit=layui.layedit
              ,upload=layui.upload;


          var index=layedit.build('detail',{
              width:600
          });
            upload.render({
                elem: '#upload'
                ,bindAction:'#add'
                ,url: '/index/house/upload'
                ,before: function(obj){
                    obj.preview(function(index, file, result){
                        $('#houseimage').attr('src', result); //图片链接（base64）
                    });
                }
                ,done: function(res){
                    $('#mainpic').attr('value',res.data.src);
//                    layui.form.render();
                }
            });
          //表单验证规则
          form.verify({
              title:function (value) {
                  if(!/^[\u4E00-\u9FA5A-Za-z0-9]+$/.test(value)){
                      return '标题只能包括英文、数字、汉字、下划线';
                  }
                  if($('#address').val().length>50){
                      return '标题长度不得超过50';
                  }
              }
              , address:function (value) {
                  if(!/^[\u4E00-\u9FA5A-Za-z0-9]+$/.test(value)){
                      return '地址只能包括英文、数字、汉字、下划线';
                  }
                  if($('#address').val().length>100){
                      return '地址长度不得超过100';
                  }
              }
              ,rent:[/^[1-9][0-9]{2,4}$/,'请输入100-99999间的整数']
              ,detail: function(value) {
                  layedit.sync(index);
                  if(value.length<50){
                      return '多少写点东西吧！';
                  }
              }
              ,mainpic:function (value) {
                  if(value==''){
                      return '图片还没上传呢,别急啊';
                  }
              }
          });

          //监听提交
          form.on('submit(add)', function(data){
              console.log(JSON.stringify(data.field))
              layedit.sync(index)
              var detail=layedit.getContent(index);
            $.ajax({
                url:'/uphouse',
                data:JSON.stringify(data.field),
                dataType:'JSON',
                type:'post',
                success:function (data) {
                    if(data==1){
                        open_layer('修改成功',6,0,0);
                    }
                    if(data==0){
                        open_layer('修改失败',5,1,1);
                    }
                }
            })
            return false;
          });

        });
        function open_layer(con,icon,act) {
            layer.open({
                title: '提示'
                ,content: con
                ,icon:icon
                ,yes: function(index, layero){
                    if(act==0){
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                        parent.location.reload();
                    }
                    if(act==1){
                        $('#title').focus();
                    }
                    layer.close(index);
                }
            })
        }
    </script>

  </body>

</html>