{layout name="layout/layout" replace="[__REPLACE__]" /}
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="memberlist">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite>

                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>客户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="customeradd">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>添加客户</cite>

                        </a>
                    </li >
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="customerlist/1">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>出租客户</cite>

                        </a>
                    </li >
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="customerlist/2">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>求租客户</cite>

                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe68e;</i>
                    <cite>房屋管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="addhouse">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>添加房屋</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="houselist">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>房屋列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>交易管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="deallist">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>交易列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe705;</i>
                    <cite>公告管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="addnotice">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>发布公告</cite>
                        </a>
                    </li >
                </ul>
                <ul class="sub-menu">
                    <li>
                        <a _href="listnotice">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>公告列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe735;</i>
                    <cite>日志列表</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="listlog">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>日志列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
        </ul>
    </div>
</div>
