<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>房屋租赁管理系統</title>
    {load href="__CSS__/font.css,__CSS__/main.css,__JS__/jquery-1.9.0.min.js,__LIB__/layui/layui.js,__JS__/admin.js"/}
</head>
<body>

<div class="body">
    搜索用户名：
    <div class="layui-inline">
        <input class="layui-input" name="username" id="search" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i>搜索</button>
    <div class="layui-btn-group">
        <button class="layui-btn" data-type="deleteData"><i class="layui-icon">&#xe640;</i>删除选中用户</button>
        <button class="layui-btn" onclick="open_url('添加用户','memberadd',650,500)"><i class="layui-icon">&#xe654;</i>添加用户</button>
        <button class="layui-btn" onclick="javascript:location.replace(location.href);"><i class="layui-icon">&#x1002;</i>刷新</button>
    </div>
    <table class="layui-hide layui-table" id="usertab" lay-filter="user"></table>
</div>
<script type="text/html" id="toolbar">
    <a class="layui-btn  layui-btn-normal layui-btn-small" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-small" lay-event="del">删除</a>
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        var tableIns=table.render({
            elem: '#usertab'
            , url: 'userlist'
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'id', title: 'ID', width: 60, sort: true, fixed: true}
                , {field: 'role', title: '角色', width: 80, sort: true, fixed: true}
                , {field: 'username', title: '用户名', width: 110, sort: true}
                , {field: 'truename', title: '姓名', width: 100}
                , {field: 'sex', title: '性别', width: 80}
                , {field: 'idno', title: '身份证号', width: 80}
                , {field: 'age', title: '年龄', sort: true, width: 80}
                , {field: 'address', title: '地址', width: 150}
                , {field: 'phone', title: '电话', width: 110}
                , {field: 'email', title: '邮箱', width: 160}
                , {fixed: 'right', width: 178, align: '', toolbar: '#toolbar'}
            ]]
            , id: 'userList'
            , page: true
            , height: 400
        });
        //监听工具条
        table.on('tool(user)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                del(data);
            } else if(obj.event === 'edit'){
                var id=data.id;
                open_url('编辑用户','memberedit/'+id,450,550);
            }
        });
        var $ = layui.$, active = {
            reload: function () {
                var search = $('#search');
                //执行重载
                tableIns.reload({
                    where: {
                        username: search.val()
                    }
                });
            }
            ,deleteData: function(){ //删除选中用户
                var checkStatus = table.checkStatus('userList')
                    ,data = checkStatus.data;

                if(data.length<1){
                    layer.msg('请选择要删除的用户');
                }else {
                    del(data);
                }
            }
        };

        $('.body .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
    function del(data) {
        layer.confirm('真的删除用户么', function(index){
            $.ajax({
                url:"deluser",
                data:JSON.stringify(data),
                type:'POST',
                dataType:'json',
                success:function (data) {
                    if(data==0){
                        open_layer('删除失败',5);
                    }else {
                        open_layer('删除成功',6);
                    }
                }
            });
            layer.close(index);
        });
    }
    function open_layer(con,icon) {
        layer.open({
            title: '提示'
            ,content: con
            ,icon:icon
            ,yes: function(index, layero){
                location.reload();
                layer.close(index);
            }
            ,cancel: function(index, layero){
                location.reload();
                layer.close(index)
                return false;
            }
        })
    }
</script>

</body>
</html>